body {
    font-family: Arial, sans-serif;
    background-color: #f1b0b0;
    margin: 0;
    padding: 20px;
}

#login-container {
    margin-bottom: 20px;
}

.cat-photo {
    width: 200px;
    height: auto;
    margin: 10px;
}
